:root {
    --primary-color: #6a9739;
    --highlight-color: #8bc34a;
    --background-color-gradient: linear-gradient(160deg, #fff, #f8f6f3);
    --background-color: #f8f6f3;
    --footer-color: #001524;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Common */

*::selection {
    background-color: var(--highlight-color);
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.highlight {
    color: var(--highlight-color);
}

.link-highlight:hover {
    color: var(--highlight-color);
}

.btn {
    display: inline-block;
    min-width: 175px;
    min-height: 48px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
    padding: 15px 35px;
    color: #fff;
    transition: ease 0.5s;
}

.btn:hover {
    background-color: var(--highlight-color);
}

/* Strikethrought */
.line-through {
    text-decoration: line-through;
    opacity: 0.4;
    margin-right: 5px;
}

/* Products Sale */
.product-sale::before {
    position: absolute;
    background-color: var(--highlight-color);
    display: block;
    content: "Sale!";
    width: 38.9px;
    height: 38.9px;
    padding: 12px 6px;
    border-radius: 999px;
    box-sizing: border-box;
    font-size: 1.28rem;
    right: 0;
    transform: translate(+20%, -20%);
}

/* Line clamp */

.line-clamp {
    --line-clamp: 5;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

/* =#= Fixed header =#= */
.fixed-header {
    margin-top: 18px;
    background-color: #fff;
}

/* ===#=== Navbar ===#=== */

.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}

.navbar .container,
.navbar ul,
.navbar .widget-cart {
    display: flex;
    gap: 30px;
}

.navbar .container {
    margin: auto;
    align-items: center;
    width: 100vw;
    max-width: calc(100% - 100px);
}

.navbar .socials {
    margin-left: auto;
}

.navbar .navbar-logo img {
    width: 150px;
    height: 70px;
}

.navbar .widget-cart {
    position: relative;
}

.navbar .shopping-cart::before {
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--highlight-color);
    content: "0";
    color: #000;
    position: absolute;
    top: -90%;
    left: 95%;
    border-radius: 999px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.8rem;
}

/* Search bar */

.navbar .search-bar {
    display: flex;
    margin: 0 auto;
    gap: 10px;
    width: 15%;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 999px;
    padding: 10px;
    transform: translateX(50%);
}

.navbar .search-bar input {
    width: 100%;
    height: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.navbar .search-bar input:focus {
    outline: none;
}

/* ===#=== Sidebar ===#=== */

.sidebar {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: transform 0.5s ease-in-out;
}

.sidebar .container {
    background-color: #fff;
    height: 100vh;
    width: 33vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 20px;
}

.sidebar .sidebar-heading {
    /* position: absolute;
    top: 0; */
    height: 6vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .sidebar-heading::before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #d5d5d5;
    top: 6vh;
    left: 0;
}

/* Sidebar body */

.sidebar .sidebar-body {
    margin-top: 15px;
}

.sidebar .sidebar-body ul {
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
}

.sidebar .sidebar-body ul li {
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #d5d5d5;
}

.sidebar .sidebar-body .item-image {
    width: 64px;
    height: 64px;
}

.sidebar .sidebar-body .item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .sidebar-body .item-info__heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidebar .sidebar-body .item-info__heading i {
    color: #ccc;
    font-size: 2rem;
    cursor: pointer;
}

.sidebar .sidebar-body .item-info h3,
.sidebar .sidebar-body .item-info p {
    font-size: 1.6rem;
    font-weight: 400;
}

.sidebar .sidebar-body .item-info h3 {
    color: #111;
}

.sidebar .sidebar-body .item-info p {
    color: #333;
}

/* Sidebar footer */

.sidebar .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d5d5d5;
}

.sidebar .item-subtotal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    position: relative;
}

.sidebar .item-subtotal::before {
    display: block;
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 120%;
    height: 1px;
    background-color: #d5d5d5;
}

.sidebar .item-subtotal h3,
.sidebar .item-subtotal p {
    color: #111;
}

.sidebar .sidebar-footer .btn {
    border: none;
    cursor: pointer;
}

.sidebar .sidebar-footer .btn-viewcart {
    margin-top: 11px;
    margin-bottom: 20px;
}

.sidebar .sidebar-footer .btn-checkout {
    margin-bottom: 20px;
}

/* ===#=== Header ===#=== */

.header {
    position: relative;
    height: 100vh;
    margin-top: -90px;
    display: flex;
    align-items: center;
    background-image: var(--background-color-gradient);
    /* background-color: #000; */
}

.header::before {
    position: absolute;
    display: block;
    content: "";
    height: 100vh;
    width: 100vw;
    background-image: url(../images/leaves-free-img.png);
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: bottom right;
    opacity: 0.25;
}

.header .hero {
    display: flex;
}

/* =#= Header info =#= */

.hero-info {
    margin: auto 0;
    padding-left: 80px;
    min-width: 512px;
    z-index: 1;
}

.hero-info .hero-info__sub-title,
.hero-info .hero-info__title {
    font-family: 'Merriweather', serif;
}

.hero-info .hero-info__sub-title,
.hero-info .hero-info__title,
.hero-info .hero-info__desc {
    min-width: 512px;
}

.hero-info__sub-title {
    margin-top: 30px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.7rem;
}

.hero-info__title {
    margin-top: 20px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.7rem;
}

.hero-info__desc {
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.56rem;
}

.hero-info__cta {
    margin-top: 40px;
}

/* ===#=== Feature ===#=== */

.feature {
    height: 214px;
    background-color: #111;
    display: flex;
    align-items: center;
}

.feature i {
    color: var(--highlight-color);
    font-size: 3rem;
}

.feature ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.feature li {
    width: 285px;
    height: calc(139px - 16px);
    padding: 32px 24px;
    border-radius: 4px;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "icon title title title title"
        "icon desc desc desc desc";
}

.feature li:hover  {
    background-color: #444;
    cursor: pointer;
}

.feature li i {
    grid-area: icon;
}

.feature li .feature-title {
    grid-area: title;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.feature li .feature-desc {
    grid-area: desc;
    font-size: 1.6rem;
    line-height: 2.56rem;
}

.feature li .feature-title,
.feature li .feature-desc {
    color: #fff;
}

/* ===#=== Best Selling Products ===#=== */

.bs-products .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.bs-products__title {
    font-family: 'Merriweather', serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.4rem;
}

.bs-products__img {
    margin-top: 20px;
}

.bs-products .info {
    margin-top: 56px;
    display: flex;
    gap: 20px;
}

.bs-products .info-img {
    width: calc(300px - 15px);
    height: 300px;
    object-fit: contain;
}

.bs-products li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: ease 0.6s;
    cursor: pointer;
}

.bs-products li:hover {
    transform: scale(1.05);
}

.bs-products .info__desc {
    margin-top: 10px;
    font-size: 1.36rem;
    line-height: 1.768rem;
    opacity: 0.6;
}

.bs-products .info__title {
    margin-top: 10px;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.56rem;
}

.bs-products .info__star {
    margin-top: 10px;
    font-size: 1.4rem;
    display: flex;
}

.bs-products .info__price {
    margin-top: 10px;
    font-size: 1.44rem;
    font-weight: 700;
    line-height: 1.872rem;
}

/* ===#=== Guides ===#=== */

.guides {
    /* height: 595px; */
    background-color: var(--background-color);
}

.guides .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides .guides-img {
    width: 162px;
    height: 70px;
    transform: translate(30%, -50%);
}

.guides .guides-info {
    display: flex;
    gap: 30px;
    padding: calc(115px - 70px) 0 115px;
}

.guides .guides-info li {
    height: 370px;
    width: 370px;
    background-color: #fff;
    border-radius: 8px;
    padding: 50px 40px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(176,180,183,0.17);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(176,180,183,0.17);
    -moz-box-shadow: 0px 0px 10px 0px rgba(176,180,183,0.17);
}

.guides .guides-info li .guides-info__title,
.guides .guides-info li .guides-info__desc,
.guides .guides-info li .guides-info__btn-cta {
    position: relative;
    z-index: 1;
}

.guides .guides-info .guides-info__title {
    font-family: 'Merriweather', serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
}

.guides .guides-info .guides-info__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 2.56rem;
}

.guides .guides-info .guides-info__btn-cta {
    margin-top: 23px;
}

.guides .guides-info .guides-info__btn-cta i {
    margin-left: 8px;
}

.guides .guides-info li img{
    position: absolute;
    width: 249px;
    height: 325px;
    object-fit: contain;
    bottom: 0;
    right: 0;
}

/* ===#=== Discount ===#=== */

.discount {
    background-color: #111;
}

.discount .content {
    position: relative;
}

.discount .title {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.discount .content::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #111;
    position: absolute;
    bottom: -11px;
    left: calc(100% / 2);
    transform: translateX(-50%);
}

.discount .title .title-heading {
    font-family: 'Merriweather', serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.42rem;
}

.discount .sub-title {
    padding: 38px 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.discount .sub-title p {
    font-family: 'Merriweather', serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
}

/* ===#=== Trending Products ===#=== */

.trending-products .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.trending-products__title {
    font-family: 'Merriweather', serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.4rem;
}

.trending-products__img {
    margin-top: 20px;
}

.trending-products .info {
    margin-top: 56px;
    display: flex;
    gap: 20px;
}

.trending-products .info-img {
    width: calc(300px - 15px);
    height: 300px;
    object-fit: contain;
}

.trending-products li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: ease 0.6s;
    cursor: pointer;
}

.trending-products li:hover {
    transform: scale(1.05);
}

.trending-products .info__desc {
    margin-top: 10px;
    font-size: 1.36rem;
    line-height: 1.768rem;
    opacity: 0.6;
}

.trending-products .info__title {
    margin-top: 10px;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.56rem;
}

.trending-products .info__star {
    margin-top: 10px;
    font-size: 1.4rem;
    display: flex;
}

.trending-products .info__price {
    margin-top: 10px;
    font-size: 1.44rem;
    font-weight: 700;
    line-height: 1.872rem;
}

/* ===#=== Customer Reviews ===#=== */

.clients {
    background-image: linear-gradient(180deg,
    #fff 0%,#f8f6f3 100%);
    position: relative;
}

.clients::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: -62%;
    width: 100%;
    height: 100%;
    background: url(../images/leaves-free-img.png);
    background-repeat: no-repeat;
    background-size: 38%;
    transform: rotateY(180deg);
    opacity: 0.25;
}

.clients .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0;
}

.clients .clients-title {
    font-family: 'Merriweather', serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.4rem;
}

.clients .clients-img {
    margin-top: 20px;
}

.clients .clients-wrapper {
    margin-top: 65px;
    display: flex;
    gap: 32px;
    align-items: flex-end;
    padding-bottom: 80px;
}

.clients .clients-wrapper .cs-review-left, 
.clients .clients-wrapper .cs-review-right {
    width: 359px;
    height: 300px;
    padding: 50px 44px;
    border-radius: 8px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.1);
}

.clients .clients-wrapper .cs-review__star i {
    color: #ffbb1e;
}

.clients .clients-wrapper .cs-review__cmt {
    font-size: 1.6rem;
    line-height: 2.56rem;
    text-align: center;
    margin-top: 25px;
}

.clients .clients-wrapper .cs-review__user {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.clients .clients-wrapper .user-avt {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 999px;
}

.clients .clients-wrapper .user-name {
    margin-left: 18px;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/* =#= Info (middle) =#= */

.clients .clients-wrapper .cs-info {
    width: 376px;
    height: 422px;
    border-radius: 8px;
    background: url(../images/sydney-rae-668606-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.38);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.38);
    -moz-box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.38);
    position: relative;
}

.clients .clients-wrapper .cs-info::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    transition: ease 0.5s;
}

.clients .clients-wrapper .cs-info:hover::before {
    opacity: 0.7;
}

.clients .cs-info__title,
.clients .cs-info__desc,
.clients .cs-btn-cta {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.clients .cs-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
}

.clients .cs-info__title {
    font-family: 'Merriweather', serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 4.42rem;
}

.clients .cs-info__desc {
    margin-top: 15px;
    font-size: 1.6rem;
    line-height: 2.56rem;
}

.clients .cs-btn-cta {
    margin-top: 50px;
}

/* =#= Brands =#= */

.clients .brands {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

.clients .brands .brands-feature {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

/* ===#=== Footer ===#=== */

.footer {
    background-color: var(--footer-color);
    padding: 75px 0 0;
    color: #fff;
}

.footer a {
    color: #fff;
    opacity: 0.66;
    transition: ease 0.5s;
}

.footer a:hover {
    opacity: 1;
}

.footer h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.3rem;
}

.footer .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "main main main main main main quicklink quicklink quicklink download download download"
        "main main main main main main quicklink quicklink quicklink download download download"
        "main main main main main main quicklink quicklink quicklink quicklinkstore quicklinkstore quicklinkstore"
        "main main main main main main sitelink sitelink sitelink quicklinkstore quicklinkstore quicklinkstore"
        "main main main main main main sitelink sitelink sitelink quicklinkstore quicklinkstore quicklinkstore"
        "copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright";
}

.footer .col-about-us {
    grid-area: main;
}

.footer .col-link__quicklink {
    grid-area: quicklink;
}

.footer .col-link__sitelink {
    grid-area: sitelink;
}

.footer .col-download {
    grid-area: download;
}

.footer .col-quicklink-store {
    grid-area: quicklinkstore;
}

/* =#= Main =#= */

.footer .col-about-us img {
    width: 180px;
    height: 79.36px;
}

.footer .col-about-us p {
    margin-top: 45px;
    width: 430px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.56rem;
    font-style: italic;
    opacity: 0.66;
}

/* Col quick link */
.footer .col-link__quicklink ul {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Col site link */
.footer .col-link__sitelink {
    margin-top: 30px;
}

.footer .col-link__sitelink ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Col download */
.footer .col-download__desc {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 2.56rem;
    opacity: 0.66;
}

/* Col store */

.footer .col-quicklink-store {
    margin-top: 45px;
}

.footer .col-quicklink-store ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .col-quicklink-store a {
    color: var(--highlight-color);
    opacity: 1;
    transition: ease 0.5s;
}

.footer .col-quicklink-store a:hover {
    color: var(--primary-color);
}

.footer .col-quicklink-store .col-store {
    margin-top: 25px;
}

.footer .col-quicklink-store .col-store img {
    width: 125.5px;
    height: 37.45px;
}

.footer .col-quicklink-store .col-store .appstore {
    margin-left: 15px;
}

/* ===#=== Copyright ===#=== */

.copyright {
    border-top: 1px solid #3b3b3b;
    padding-top: 30px;
    background-color: var(--footer-color);
}

.copyright .content {
    height: 133px;
    grid-area: copyright;
    display: flex;
    justify-content: space-between;
}

.copyright .copyright-pragraph {
    color: #fff;
    opacity: 0.66;
}

.copyright .socials {
    display: flex;
    gap: 25px;
}

.copyright .socials i {
    color: #fff;
}


